
  @font-face {
    font-family:'cocogoose';
    src: url('cocogoose/CocogoosePro-trial.ttf');
  }

  @font-face {
    font-family:'louis-george-cafe';
    src: url('louis_george_cafe/Louis George Cafe.ttf');
  }

  @font-face {
    font-family:'kollera';
    src: url('kollera/Kollera.otf');
  }

  @media (max-width: 1000px) {
    .HideOnMobile {
        display: none;
    }
    .ShowOnMobile {
        display: initial;
    }
  }

  @media (min-width: 1031px) {
    .HideOnMobile {
        display: initial;
    }
    .ShowOnMobile {
        display: none;
    }
  }

  html, body {
    background-color: #FCFAEE;
    font-family:'louis-george-cafe';
    color: #011627;
    max-width: 100%;
    overflow-x: hidden;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-top:2.5vh;
    font-family:'cocogoose';
    text-align:center
  }

  p, ul, li {
    margin-left:5vw;
    margin-right:6vw;
    text-align:center;
    font-size:18px;
    text-wrap:wrap;
  }
  
  .nav-link, .nav_color {
    background-color: #6BCEFF;
    color: #011627;
  }

  .header_link {
    background-color: #6BCEFF;
    font-family:'kollera';
    text-align:center;
    font-size:4vh;
  } 
  
  .nav-link:link, .nav-link:visited {
    color: #011627;
    text-decoration:none;
  }

  .nav-link:hover {
    color: #FCFAEE;
  }